/* estilo del titulo y enunciado */
#titulo {
    text-align: center;
    color: #20317e;
    margin-bottom: 20px;
}

#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* estilo boton */
#btnCargar {
    background-color: #4a76d1;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 15px;
}

/* boton efecto hover */
#btnCargar:hover {
    background-color: slateblue;
}

/* estilo del div creado dinamicamente */
.resultado-box {
    background-color: lightyellow;
    padding: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    width: fit-content;
    margin-top: 15px;
}
